{% load static %}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	

	<!--favicon-->
	<link rel="icon" href="{% static 'assets/images/logolight.png' %}" type="image/png">
	<!--plugins-->
	<link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet">
	<link href="{% static 'assets/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet">
	<link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
	<link href="{% static 'assets/plugins/metismenu/css/metisMenu.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/plugins/Drag-And-Drop/dist/imageuploadify.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/plugins/datatable/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet">
	<!-- loader-->
	<link href="{% static 'assets/css/pace.min.css' %}" rel="stylesheet">
	<script src="{% static 'assets/js/pace.min.js' %}"></script>
	<!-- Bootstrap CSS -->
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/bootstrap-extended.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/bootstrap-extended.css' %}" rel="stylesheet">
	<!--<link href="../../../css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">-->
	<link href="{% static 'assets/css/app.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">

	<link href="{% static 'assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/plugins/select2/css/select2-bootstrap4.css' %}" rel="stylesheet">

	<script src="https://cdn.ckeditor.com/4.19.0/full/ckeditor.js"></script>

	
	
	<title>{% block title %}{% endblock title %}</title>
</head>

<body class="bg-theme bg-theme1">
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		{% include 'Support_templates/Base/sidebar.html' %}
		<!--end sidebar wrapper -->
		<!--start header -->
		{% include 'Support_templates/Base/header.html' %}

		<!--end header -->

		<!--start page wrapper -->
		<div class="page-wrapper">
			{% block main-content %}{% endblock main-content %}
			
		</div>

		<!--end page wrapper -->
		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		{% include 'Support_templates/Base/footer.html' %}

		

	</div>

	<!--start switcher-->
	<div class="switcher-wrapper">
		{% include 'Support_templates/Base/switcher.html' %}


	</div>

	<!--end switcher-->



<!-- Bootstrap JS -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<!--plugins-->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/plugins/simplebar/js/simplebar.min.js' %}"></script>
<script src="{% static 'assets/plugins/metismenu/js/metisMenu.min.js' %}"></script>
<script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/plugins/chartjs/chart.min.js' %}"></script>
<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'assets/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'assets/plugins/sparkline-charts/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-knob/excanvas.js' %}"></script>
<script src="{% static 'assets/plugins/jquery-knob/jquery.knob.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.min.js' %}"></script>
	
  <script>
	  $(function() {
		  $(".knob").knob();
	  });
  </script>

  <script>
	  
	$(document).ready(function() {
	$('#example').DataTable()
  });
	
  </script>
  
	<script>
		$(document).ready(function() {
			var table = $('#example2').DataTable( {
				//lengthChange: false,
				//buttons: [ 'copy', 'excel', 'pdf', 'print'],
			} );
		 
			table.buttons().container()
				.appendTo( '#example2_wrapper .col-md-6:eq(0)' );
		} );
	</script>
  <script src="{% static 'assets/js/index.js' %}"></script>
  <script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>

  <script>
	$('.single-select').select2({
		theme: 'bootstrap4',
		width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
		placeholder: $(this).data('placeholder'),
		allowClear: Boolean($(this).data('allow-clear')),
	});
	$('.multiple-select').select2({
		theme: 'bootstrap4',
		width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
		placeholder: $(this).data('placeholder'),
		allowClear: Boolean($(this).data('allow-clear')),
	});
</script>

<script src="{% static 'assets/plugins/Drag-And-Drop/dist/imageuploadify.min.js' %}"></script>
<script>
	$(document).ready(function () {
		$('#image-uploadify').imageuploadify();
	})
</script>
<!--app JS-->
<script src="{% static 'assets/js/app.js' %}"></script>




</body>

</html>