<div class="modal fade" id="exampleVerticallycenteredModal{{i.id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit FAQs</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <P class="text-center mt-2" id="msg"></P>
            
            <form action="{% url 'update_add_faq' %}" method = "POST" enctype="multipart/form-data" id="productform">
                {% csrf_token %}
            <div class="row">
                <div class="col-xl-9 mx-auto">

                    <input type="text" name="faq_id" value="{{i.id}}" hidden>

                 
                    <div class="row mb-3">
                        <label for="inputEnterYourName" class="col-sm-12 col-form-label">Category</label>
                        <div class="col-sm-12">
                            {% comment %} <select class="form-control btn-light" name="category_id" id="select_category">
                                <option class="text-black" value="" selected disabled> --Select--</option>
                                {% for cat in category %}
                                    <option class="text-black" value="{{cat.id}}">{{cat.category_name}}</option>
                                {% endfor %}
                            </select> {% endcomment %}
                            <select class="form-select" name="category_id" id="edit_faq_select_category" required>
                                <option value="" disabled selected>---SELECT---</option>
                                {% for cat in category %}
                                
                                <option class="bg-dark" value="{{ cat.id }}" {% if i.product.subcategory.Category_id_id == cat.id %}selected{% endif %}>{{cat.category_name}}</option>
                                {% comment %} <option class="bg-info" value="{{i.id}}">{{i.category_name}}</option> {% endcomment %}
                                
                                {% endfor %}
                             </select>
                        
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputEnterYourName" class="col-sm-12 col-form-label">Subcategory</label>
                        <div class="col-sm-12">
                            {% comment %} <select class="form-control btn-light" name="sub_category_id" id="select2" disabled>
                                <option class="text-black" value="" selected disabled> --Select--</option>
                            </select> {% endcomment %}
                            <select class="form-select" name="sub_category_id" id="edit_faq_select_subcategory" required>
                              
                                {% comment %} <option  value="" selected disabled> --Select--</option> {% endcomment %}
                                {% for sub in subcategory %}
                                 {% if i.product.subcategory.Category_id_id == sub.Category_id.id %}
                                 <option class="bg-dark" value="{{ sub.id }}" {% if sub.id == i.subcategory.id %}selected{% endif %}>
                                    {{ sub.name }}
                                </option>
                                {% endif %}
                                {% endfor %}
                             </select>
                        
                        </div>
                    </div>



                    <div class="row mb-3">
                        <label for="inputEnterYourName" class="col-sm-12 col-form-label">Product Name</label>
                        <div class="col-sm-12">
                            {% comment %} <select class="form-select" name="product_id">
                                {% for i in product %}
                                    <option value="{{i.id}}">{{i.name}}</option>
                                {% endfor %}
                            </select> {% endcomment %}
                            <select class="form-select" name="product_id" id="edit_faq_product-select" required>
                                {% for prod in product %}
                                 {% if i.product.subcategory.Category_id_id == prod.subcategory.Category_id.id %}
                                 <option class="bg-dark" value="{{ prod.id }}" {% if prod.id == i.product.subcategory.Category_id_id %}selected{% endif %}>
                                    {{ prod.name }}
                                </option>
                                {% endif %}
                                {% endfor %}
                              
                                {% comment %} <option  value="" selected disabled> --Select--</option> {% endcomment %}
                             </select>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <label for="inputEnterYourName" class="col-sm-12 col-form-label">Question</label>
                        <div class="col-sm-12">
                           
                            <input type="text" class="form-control" value= "{{i.question}}"  placeholder="Enter Your Question" id ="question" name="question" required>
                        </div>
                    </div>
                    
                   
                    <div class="row mb-3">
                        <label for="inputEnterYourName" class="col-sm-12 col-form-label">Answer</label>
                        <div class="col-sm-12">
                            <textarea name="answer">{{i.answer}}</textarea>
                            
                        </div>
                    </div>
                    {% comment %} <h6 class="mb-0 text-uppercase">Category Form</h6> {% endcomment %}
                    
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update</button>
                
                {% comment %} <button type="submit" class="btn btn-primary">Save </button> {% endcomment %}
            </div>
            </form>
        </div>
    </div>
</div>

{% comment %} 
<script>
    // select all textarea elements on the page
    var textareas = document.getElementsByTagName('textarea');
    
    // loop through all textarea elements and replace them with CKEditor instances
    for (var i = 0; i < textareas.length; i++) {
        CKEDITOR.replace(textareas[i]);
    }
</script> {% endcomment %}


{% comment %} 
<script>
    $(document).ready(function() {
        // When the category dropdown changes, send an AJAX request to retrieve the corresponding subcategories
        $("#select1").change(function() {
            var category_id = $(this).val();
            if (category_id) {
                $.ajax({
                    url: "{% url 'get_subcategories' %}",
                    type: "GET",
                    data: {
                        category_id: category_id
                    },
                    dataType: "json",
                    success: function(data) {
                        // Clear the current options in the subcategory dropdown
                        $("#select2").html("");
                        // Add the retrieved subcategories as options to the subcategory dropdown
                        $("#select2").append(
                            '<option  value="" selected disabled> --Select--</option>'
                        );
                        $.each(data, function(key, value) {
                            $("#select2").append(
                                '<option class="text-black" value="' + value.id + '">' + value.name + '</option>'
                            );
                        });
                        // Enable the subcategory dropdown
                        $("#select2").prop("disabled", false);
                    }
                });
            } else {
                // If no category is selected, disable the subcategory dropdown and clear its options
                $("#select2").prop("disabled", true);
                $("#select2").html('<option value="" selected disabled> --Select--</option>');
            }
        });
    });
</script> {% endcomment %}



<script>
    $(document).ready(function() {
       // When the category dropdown changes, send an AJAX request to retrieve the corresponding subcategories
       $("#edit_faq_select_category").change(function() {
         var category_id = $(this).val();
         if (category_id) {
           $.ajax({
             url: "{% url 'get_subcategories' %}",
             type: "GET",
             data: {
               category_id: category_id
             },
             dataType: "json",
             success: function(data) {
               // Clear the current options in the subcategory dropdown
               $("#edit_faq_select_subcategory").html("");
               // Add the retrieved subcategories as options to the subcategory dropdown
               $("#edit_faq_select_subcategory").append('<option value="" selected disabled> --Select--</option>');
               $.each(data, function(key, value) {
                 $("#edit_faq_select_subcategory").append('<option class="" value="' + value.id + '">' + value.name + '</option>');
               });
               // Enable the subcategory dropdown
               $("#edit_faq_select_subcategory").prop("disabled", false);
             }
           });
         } else {
           // If no category is selected, disable the subcategory dropdown and clear its options
           $("#edit_faq_select_subcategory").prop("disabled", true);
           $("#edit_faq_select_subcategory").html('<option value="" selected disabled> --Select--</option>');
         }
       });
       
       // When the subcategory dropdown changes, send an AJAX request to retrieve the corresponding products
       $("#edit_faq_select_subcategory").change(function() {
          var subcategory_id = $(this).val();
        
          if (subcategory_id) {
            $.ajax({
              url: "{% url 'get_products' %}",
              type: "GET",
              data: {
                subcategory_id: subcategory_id
              },
              dataType: "json",
              success: function(data) {
                // Clear the current options in the product selection dropdown
                $("#edit_faq_product-select").html("");
                // Add the retrieved products as options to the product selection dropdown
                $.each(data, function(key, value) {
                  $("#edit_faq_product-select").append(
                    '<option value="' + value.id + '" data-rate="' + value.price + '">' + value.name +  '</option>'
                  );
                });
              }
            });
          } else {
            // If no subcategory is selected, disable the product selection dropdown and clear its options
            $("#edit_faq_product-select").prop("disabled", true);
            $("#edit_faq_product-select").html('<option value="" selected disabled> --Select--</option>');
          }
        });
        
     });
     
 </script>