<div class="modal fade" id="exampleDangerModal{{booking.id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <form action="{% url "cancel_booking_byadmin" booking.id %}" method="POST">
            {% csrf_token %}
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-white">ORDER CANCEL</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body text-white">
                <p>Do You Want to Cancel Order ?</p>
                <input type="text" class="form-control" placeholder="write a reason...", name="cancel_reason" required>
                
                {% comment %} <h1 class="text-info">Do You Want to Delete ?</h1> {% endcomment %}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light"
                    data-bs-dismiss="modal">No</button>
                {% comment %} <a class="btn btn-primary" href="{% url 'cancel_booking_byadmin' booking.id %}">Yes</a> {% endcomment %}
                <button type="submit" class="btn btn-primary">Yes</button>
                
            </div>
        </div>
    </form>
    </div>
</div>