
<div class="modal fade" id="exampleVerticallycenteredModal{{i.id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <P class="text-center mt-2" id="msg"></P>
            
            <form action="{% url 'update_product' %}" method = "POST" enctype="multipart/form-data" id="productform">
                {% csrf_token %}
            <div class="row">
                <div class="col-xl-9 mx-auto">

                    <div class="row mb-3">
                               
                        <label for="product_pic" class="col-sm-12 col-form-label">Product Image</label>
                        <div class="col-sm-12">
                            <input type="file" class="form-control" value="{{i.product_pic}}" name="product_pic"  id="product_pic">
                            {% if i.product_pic.url != ""  %}
                                    <a href="{{i.product_pic.url}}">{{i.product_pic}}</a>
                            {% endif %}
                            <input type="text" value="{{i.id}}" name="product_id" hidden>
                                 
                        </div>
                    </div>

                     <div class="row mb-3">
                                    
                        <label for="product_pic" class="col-sm-12 col-form-label">Category</label>
                        <div class="col-sm-12">
                            <select class="form-select"  name="category_id" id="edit_category">
                                {% for cat in category %}
                                 {% comment %} <option class="text-black" value="{{i.id}}">{{i.category_name}}</option> {% endcomment %}
                                 {% comment %} {% if i.subcategory.Category_id_id == cat.id %} {% endcomment %}
                                 <option  value="{{ cat.id }}" {% if i.subcategory.Category_id_id == cat.id %}selected{% endif %}>
                                    {{ cat.category_name }}
                                </option>
                                {% comment %} {% endif %} {% endcomment %}
                                {% endfor %}
                            </select>
                                 
                        </div>
                    </div> 


                   <div class="row mb-3">
                                    
                        <label for="product_pic" class="col-sm-12 col-form-label">Subcategory</label>
                        <div class="col-sm-12">
                            <select class="form-select"  name="subcategory_id" id="edit_subcategory">
                                {% for sub in subcategory %}
                                 {% if i.subcategory.Category_id_id == sub.Category_id.id %}
                                 <option class="bg-dark" value="{{ sub.id }}" {% if sub.id == i.subcategory.id %}selected{% endif %}>
                                    {{ sub.name }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                                 
                        </div>
                    </div> 

                    

                    <div class="row mb-3">
                        <label for="inputEnterYourName" class="col-sm-12 col-form-label">Product Title</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control"  placeholder="Enter Your Product Title" id ="product_title" value="{{i.product_title}}" name="product_title" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEnterYourName" class="col-sm-12 col-form-label">Product Name</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control"  placeholder="Enter Your Product" id ="product_name" value="{{i.name}}" name="product_name" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEnterYourName" class="col-sm-12 col-form-label">Price</label>
                        <div class="col-sm-12">
                            <input type="number" class="form-control"  placeholder="Price" id ="price" value="{{i.price}}" name="price" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEnterYourName" class="col-sm-12 col-form-label">Discount Amount</label>
                        <div class="col-sm-12">
                            <input type="number" class="form-control"  placeholder="Discount Amount" id ="discount_price" value="{{i.dis_amt}}" name="discount_price" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEnterYourName" class="col-sm-12 col-form-label">Warrenty </label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control"  placeholder="Warranty" id ="warranty" value="{{i.warranty}}" name="warranty"  required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEnterYourName" class="col-sm-12 col-form-label">Warranty Description</label>
                        <div class="col-sm-12">
                            <textarea name="warranty_description">{{i.warranty_desc|safe}}</textarea>
                            
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEnterYourName" class="col-sm-12 col-form-label">Product Description</label>
                        <div class="col-sm-12">
                            <textarea name="description">{{i.description|safe}}</textarea>
                            
                        </div>
                    </div>
                    {% comment %} <h6 class="mb-0 text-uppercase">Category Form</h6> {% endcomment %}
                    
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update</button>
                
                {% comment %} <button type="submit" class="btn btn-primary">Save </button> {% endcomment %}
            </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        // When the category dropdown changes, send an AJAX request to retrieve the corresponding subcategories
        $("#edit_category").change(function() {
            var category_id = $(this).val();
            if (category_id) {
                $.ajax({
                    url: "{% url 'get_subcategories' %}",
                    type: "GET",
                    data: {
                        category_id: category_id
                    },
                    dataType: "json",
                    success: function(data) {
                        // Clear the current options in the subcategory dropdown
                        $("#edit_subcategory").html("");
                        // Add the retrieved subcategories as options to the subcategory dropdown
                        $("#edit_subcategory").append(
                            '<option  value="" selected disabled> --Select--</option>'
                        );
                        $.each(data, function(key, value) {
                            $("#edit_subcategory").append(
                                '<option class="text-black" value="' + value.id + '">' + value.name + '</option>'
                            );
                        });
                        // Enable the subcategory dropdown
                        $("#edit_subcategory").prop("disabled", false);
                    }
                });
            } else {
                // If no category is selected, disable the subcategory dropdown and clear its options
                $("#edit_subcategory").prop("disabled", true);
                $("#edit_subcategory").html('<option value="" selected disabled> --Select--</option>');
            }
        });
    });
</script>