<div class="modal  fade" id="exampleVerticallycenteredModal{{i.id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header mb-2">
                <div class="card-title d-flex align-items-center">
                    <div><i class="bx bxs-user me-1 font-22 text-white"></i>
                    </div>
                    <h5 class="mb-0 text-white">Update Category</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            

            <form action="{% url 'edit_Category' %}" method="POST" id="categoryform" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-2 mx-1">
                    <div class="col-xl-9 mx-auto">
                        
                        <div class="row mb-3">
                            <label for="inputEnterYourName" class="col-sm-12 col-form-label">Icon Image</label>
                            <div class="col-sm-12">
                                
                                <input type="file" class="form-control"
                                    placeholder="Enter Your Category Name" id="category_img"
                                    name="category_img"  required>
                                    {% if i.icon.url != "" %}<a href="{{i.icon.url}}">{{i.icon}}</a>{% endif %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputEnterYourName" class="col-sm-12 col-form-label">Enter Your
                                Category Name</label>
                            <div class="col-sm-12">
                                <input type="text" value="{{i.id}}" name="category_id" hidden>
                                <input type="text" class="form-control"
                                    placeholder="Enter Your Category Name" id="category_name"
                                    name="category_name" value={{i.category_name}} required>
                            </div>
                        </div>


                        {% comment %} <div class="card border-top border-0 border-4 modal-color">
                            <div class="card-body">
                                <div class="border p-4 rounded">
                                    <div class="card-title d-flex align-items-center">
                                        <div><i class="bx bxs-user me-1 font-22 text-white"></i>
                                        </div>
                                        <h5 class="mb-0 text-white">Update Category</h5>
                                    </div>
                                    <hr>
                                    <div class="row mb-3">
                                        <label for="inputEnterYourName" class="col-sm-12 col-form-label">Enter Your
                                            Category Name</label>
                                        <div class="col-sm-12">
                                            <input type="text" value="{{i.id}}" name="category_id" hidden>
                                            <input type="text" class="form-control"
                                                placeholder="Enter Your Category Name" id="category_name"
                                                name="category_name" value={{i.category_name}} required>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update </button>
                </div>


            </form>
        </div>
    </div>
</div>