{% extends 'Support_templates/Base/base.html' %}
{% comment %} {% load custom_filters %} {% endcomment %}
{% load static %}
{% block main-content %}
<style>
    .nowrap {
        white-space: nowrap;
      }
</style>
<div class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Order</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Order List</li>
                </ol>
            </nav>
        </div>

    </div>
    <!--end breadcrumb-->

    <h6 class="mb-0 text-uppercase">List of Order</h6>
    <hr>

    {% include 'homofix_app/Base/messages.html' %}
    
    <div class="ms-auto mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#exampleDangerModal"><a href="javascript:;"
            class="btn btn-light radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square"></i>Add New Order</a></div>
    
    <div class="card">

        <div class="card-body">
            <div class="table-responsive">
                <table id="example2" class=" table  mb-0">
                    <thead class="table-light">
                        
                        <tr >
                            <th>SI No</th>
                            <th>Order#</th>
                            <th>Category</th>
                            <th>Subcategory</th>
                            <th>Product</th>
                            <th>Customer</th>
                            <th>Mobile</th>
                            <th>City</th>
                            <th>State</th> 
                            <th>Area</th> 
                            <th>zipcode</th> 
                            <th>Address</th>
                            <th>Status</th>
                            {% comment %} <th class="nowrap">Discounted Price</th> {% endcomment %}
                            <th>Total</th>
                            <th>Date</th>
                            <th class="nowrap">Order By</th>
                            <th>Payment Mode</th>
                            {% if support.can_assign_task == True %}
                            
                            <th>Task</th>
                            {% endif %}
                            <th>Actions</th>
                           
                            {% comment %} <th>Print</th> {% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings  %}
                        
                        <tr >
                            <td>#{{forloop.counter}}</td>
                            <td>
                                #{{booking.order_id}}
                            </td>
                            
                            <td>
                                {% comment %} {{booking.products.subcategory.Category_id.category_name}} {% endcomment %}
                                {% if booking.booking_product.exists %}
                                    {{ booking.booking_product.first.product.subcategory.Category_id.category_name }}
                                {% else %}
                                    N/A
                                {% endif %} 
                            </td>
                            <td>
                                
                                {% if booking.booking_product.exists %}
                                    {{ booking.booking_product.first.product.subcategory }}
                                {% else %}
                                    N/A
                                {% endif %} 
                            </td>
                            
                            <td>
                                <div class="d-flex align-items-center">
                                  
                                    <div class="ms-2">
                                        {% for booking_product in booking.booking_product.all %}
                                        <h6 class="mb-1 nowrap font-14">{{ booking_product.product.name }} ({{ booking_product.quantity }})</h6>
                                        {% endfor %}
                                        
                                        
                                      </div>
                                </div>
                            </td>
                            <td>{{booking.booking_customer}}</td>
                            <td>{{booking.mobile}}</td>
                            <td>{{booking.city}}</td>
                            <td>{{booking.state}}</td>
                            <td>{{booking.area}}</td>
                            <td>{{booking.zipcode}}</td>
                            <td>{{booking.booking_address}}</td>
                            <td>
                                <div class="badge rounded-pill bg-light p-2 text-uppercase px-3"><i
                                        class='bx bxs-circle me-1'></i>{{booking.status}}</div>
                            </td>
                            {% comment %} <td>{% if booking.bookingproduct_set.exists %}
                                Rs {{ booking.bookingproduct_set.first.product.dis_amt}}
                            {% else %}
                                N/A
                            {% endif %} </td> {% endcomment %}
                            
                            <td>
                                {{booking.final_amount}}
                               
                            </td>
                            <td class="nowrap">{{booking.booking_date}}</td>
                            
                            </td>
                            <td class="nowrap">
                            {% if booking.supported_by %}
                                {{booking.supported_by.admin.username}}
                            {% else %}
                                Website
                            {% endif %}
                            </td>
                            <td>{% if booking.online == True %}
                            Online
                            {% else %}
                            Cash on Service
                            {% endif %}</td>
                            {% if support.can_assign_task == True %}
                            <td>
                                
                                {% if booking.status == "" %}
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#exampleSmallModal{{booking.id}}" disabled>Assign Task</button> 
                                {% else %}
                                    
                                    <a href="{% url 'support_List_of_expert' booking.id %}"><button class="btn btn-sm btn-warning" >Assign Task</button></a>
                                {% endif %}
                            </td>
                            {% endif %}
                            <td>
                                <div class="d-flex">
                                    
                                    {% if booking.status == "" or booking.status == "Completed" %}
                                    <button class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#exampleVerticallycenteredModal{{booking.id}}" disabled>Reschedule</button>
                                    <button class="btn btn-sm btn-danger ms-3" data-bs-toggle="modal" data-bs-target="#exampleDangerModal{{booking.id}}" disabled>Cancel</button>
                                    {% else %}
                                    <button class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#exampleVerticallycenteredModal{{booking.id}}">Reschedule</button>
                                    
                                    {% endif %}
                                    {% if support.can_cancel_booking == True %}
                                    <button class="btn btn-sm btn-danger ms-3" data-bs-toggle="modal" data-bs-target="#exampleDangerModal{{booking.id}}">Cancel</button>
                                    {% endif %}
                                    
                                    
                                    
                                    
                                </div>
                            </td>
                            
                             {% comment %} <td><a href="{% url 'index' booking.id %}">invoice</a></td> {% endcomment %}
                        </tr>

                        <div class="col">
                           
                            {% include 'Support_templates/Orders/reschudle_model.html' %}
                            {% include 'Support_templates/Orders/delete_order_modal.html' %}
                            {% include 'Support_templates/Orders/assign_task_modal.html' %}
                        </div>
                        {% endfor %}



                    </tbody>
                    
                </table>
            </div>


        </div>
    </div>
</div>



<div class="col">

    <!-- Modal -->
    {% include 'Support_templates/Orders/mobile_no_modal.html' %}
</div>



{% endblock main-content %}